<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53835523540-t32enr42n2nanqafohjvnbe2224hic4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53835523540-t32enr42n2nanqafohjvnbe2224hic4h</string>
	<key>API_KEY</key>
	<string>AIzaSyBV5vYi6SxWhBiorTe367i4Z9LBwvIHlZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>53835523540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.edu.utas.iqbalma.kit305.Stroke-Rehab-App</string>
	<key>PROJECT_ID</key>
	<string>kit305-607-73727</string>
	<key>STORAGE_BUCKET</key>
	<string>kit305-607-73727.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53835523540:ios:a7841366c6f6ba8520e241</string>
</dict>
</plist>